.layout-primary {
    //--v-body-bg: linear-gradient(147.38deg, var(--primary-500) 0%, var(--primary-800) 100%);
    --v-body-bg: var(--primary-color) ;
    --v-sidebar-bg: #ECEAED;
    --v-sidebar-hover-bg: #F5F5F5;
    --v-menuitem-text-color-secondary: var(--primary-color-text);
    --v-menuitem-active: var(--primary-color);
    --v-menuitem-text-color: var(--primary-color-text);
    --v-menuitem-hover-bg: rgba(255, 255, 255, .1);
    --v-overlay-menuitem-text-color: var(--text-color);
    --v-overlay-menuitem-hover-bg: var(--surface-hover);
    --v-topbar-search-button-bg: var(--primary-color-text);
    --v-topbar-search-button-icon-color: var(--primary-color);
    --menuitem-text-color: var(--text-color);
    --v-data-table-header-color: var(--primary-color);
}