@font-face {
    font-family: 'Inter';
    font-weight: 900; // Black
    src: url('@/common/assets/layout/fonts/Inter-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700; // Bold
    src: url('@/common/assets/layout/fonts/Inter-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800; // ExtraBold
    src: url('@/common/assets/layout/fonts/Inter-ExtraBold.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 200; // ExtraLight
    src: url('@/common/assets/layout/fonts/Inter-ExtraLight.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300; // Light
    src: url('@/common/assets/layout/fonts/Inter-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500; // Medium
    src: url('@/common/assets/layout/fonts/Inter-Medium.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400; // Regular
    src: url('@/common/assets/layout/fonts/Inter-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600; // SemiBold
    src: url('@/common/assets/layout/fonts/Inter-SemiBold.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 100; // Thin
    src: url('@/common/assets/layout/fonts/Inter-Thin.ttf') format('opentype');
}